@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities{
  .hide-scrollbar::-webkit-scrollbar{
      width: 0;
      height: 0;
  }

  .move{
    animation-name: move;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }

  @keyframes move {
      0%{transform: translateX(-75px); box-shadow: 0px 0px 10px black ;}
      100%{transform: translateX(0px); box-shadow: none;}
  }


    /* Login */
    /* Custom checkbox styles */
.custom-checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #7269ef;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Custom checkbox checked state */
  .custom-checkbox:checked {
    background-color: #7269ef;
  }
  
  /* Custom label styles */
  .custom-label {
    font-size: 1rem;
    color: #a6b0cf;
    cursor: pointer;
    user-select: none;
    margin-left: 8px;
  }
  
  /* Custom checkbox checkmark icon */
  .custom-checkbox:checked::before {
    content: '\2713'; /* Checkmark character */
    font-size: 16px;
    color: #fff;
    display: block;
    text-align: center;
    line-height: 20px;
  }


  /* Dropdown menu */
  .dropdown-menu{
    animation-name: menuMove;
    animation-duration: 0.5s;
  }
  @keyframes menuMove {
    0%{ top: 90%}
    100%{ top: 110%}
  }


  /* CSS for loader */
  .loader {
    animation-name: loaderMove;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @keyframes loaderMove {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


  /* Add Contact */
  .add-contact{
    animation-name: addContactMove;
    animation-duration: 0.5s;
  }
  @keyframes addContactMove {
    0%{ top: 50px;}
    100%{ top: 0px;}
  }


  /* Chatroom Move */
  .chatroom-move{
    animation-name: chatRoomMove;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }

  @keyframes chatRoomMove {
      0%{transform: translateX(-75px); box-shadow: 0px 0px 10px black ;}
      100%{transform: translateX(0px); box-shadow: none}
  }


  /* Move top to bottom */
  .move-top-to-bottom{
    animation-name: moveTopToBottom;
    animation-duration: 0.5s;
  }

  @keyframes moveTopToBottom {
    0%{ top: -10%}
    100%{ top: 0%}
  }
  /* Move top to bottom */
  .move-bottom-to-top{
  animation-name: moveBottomToTop;
  animation-duration: 0.5s;
  }

  @keyframes moveBottomToTop {
    0%{ bottom: -10%}
    100%{ bottom: 0%}
  }

  input::placeholder{
    color: #a6b0cf;
  }
}